    /*
    |--------------------------------------------------------------------------
    | Tambahkan blok ini ke dalam array config/services.php yang sudah ada
    |--------------------------------------------------------------------------
    */
    'whatsapp' => [
        'endpoint' => env('WHATSAPP_API_ENDPOINT'),
        'token' => env('WHATSAPP_API_TOKEN'),
    ],
